{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%  block css %}
<style>
.div-links{
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.ul-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type:none;
    width: 100%;
}
.ul-links li{
    width: 100%;
    text-align: center;
}
</style>
{% endblock %}
{%  block title %}HomeSpace - Sign Up page{% endblock %}
{% block content %}
    <div class="container card mt-5 mb-5 p-5">
        <h2>Sign Up</h2>
        <form method="post" class="container">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="container div-links">
                <ul class="ul-links">
                    <li><a href="{% url 'login' %}">if you have already register</a></li>
                </ul>
            </div>
        <button type="submit" class="btn btn-success">Sign Up</button>
        </form>
    </div>
{% endblock %}