{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%  block title %}HomeSpace - Crate post page{% endblock %}
{% block content %}
    <div class="container card mt-5 mb-5 p-5">
        {% if is_create_post %}
            <h2>Crate post</h2>
        {% else %}
            <h2>Change post "{{post.title}}"</h2>
        {% endif %}
        {% for msg in messages %}
            <div class="alert alert-success">
                {{msg|crispy}}
            </div>
        {% endfor %}
        <form method="post" id="postForm" data-cities-url="{% url 'ajax_load_cities' %}" enctype="multipart/form-data" class="form-group">
            {% csrf_token %}
            <!-- {% for forms in form %}
                {{forms.label}}
                {{forms}}
                {{forms.errors}}
            {% endfor %} -->
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">{% if is_create_post %}Add Anouncment{% else %}Chage Anouncment{% endif %}</button>
        </form>
    </div>
{% endblock %}

{%  block js %}
<script>
    $("#id_region").change(function () {
        const url = $("#postForm").attr("data-cities-url");
        const regionId = $(this).val();
        console.log(regionId)

        $.ajax({
            url: url,
            data: {
                'region_id': regionId
            },
            success: function (data) {
                $("#id_district").html(data);
            }
        });
    });
</script>
{% endblock %}