{% extends 'base.html' %}
{% load static %}
{%  block title %}
    {% if user.is_authenticated %}
        Welcome {{user.username}}
    {% endif %}
{% endblock %}
{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <div class="content-header">
            <h1>Welcome {{user.username}}!</h1>
            <ul>
                <li><a href="{% url 'create_post' %}">Add anouncment</a></li>
            </ul>
        </div>
        <div class="container">
            <ul>
                {% for post in posts %}
                    <hr style="border:1px solid red;">
                    <li><p>Title: {{ post.title }}</p></li>
                    <li>post owner: {{ post.owner }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h1>You are not login</h1>
    {% endif %}
</div>
{% endblock %}