{% load static %}
{% load active_link_tags %}
{% url 'main:index' as index %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{%  block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediaelementplayer.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/fl-bigmug-line.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {%  block css %}{% endblock %}
  </head>
  <body>

  <div class="site-loader" style='background: "{% static 'url(/images/loader.gif)' %}" center no-repeat #fff;'></div>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="border-bottom bg-white top-bar">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 col-md-6">
            <p class="mb-0">
              <a href="tel:+998993968839" class="mr-3"><span class="text-black fl-bigmug-line-phone351"></span> <span class="d-none d-md-inline-block ml-2">+998993968839</span></a>
              <a href="mailto:asliddintukhtasinov5@gmail.com"><span class="text-black fl-bigmug-line-email64"></span> <span class="d-none d-md-inline-block ml-2">asliddintukhtasinov5@gmail.com</span></a>
            </p>
          </div>
          <div class="col-6 col-md-6 text-right">
            <a href="https://t.me/Asliddindev" class="mr-3"><span class="text-black icon-facebook"></span></a>
            <a href="https://t.me/Asliddindev" class="mr-3"><span class="text-black icon-twitter"></span></a>
            <a href="https://t.me/Asliddindev" class="mr-0"><span class="text-black icon-linkedin"></span></a>
          </div>
        </div>
      </div>

    </div>

    <div class="site-navbar">
        <div class="container py-1">
          <div class="row align-items-center">

            <div class="col-8 col-md-8 col-lg-4">
              <h1 class=""><a href="\" class="h5 text-uppercase text-black"><strong>HomeSpace<span class="text-danger">.</span></strong></a></h1>
            </div>
            <div class="col-4 col-md-4 col-lg-8">
              <nav class="site-navigation text-right text-md-right" role="navigation">

                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                <ul class="site-menu js-clone-nav d-none d-lg-block">
                  <li class="{% if index == request.path %}active{% endif %}">
                    <a href="{% url 'main:index' %}">Home</a>
                  </li>
                  <li class="has-children {% active_link 'main:announcement' %}">
                    <a href="{% url 'main:announcement' %}">Announcement</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'main:announcement' %}?type=buy">Buy</a></li>
                      <li><a href="{% url 'main:announcement' %}?type=rent">Rent</a></li>
                    </ul>
                  </li>
                  <li class="{% active_link 'main:about' %}"><a href="{% url 'main:about' %}">About</a></li>
                  <li class="{% active_link 'main:contact' %}"><a href="{% url 'main:contact' %}">Contact</a></li>

                  {% if user.is_authenticated %}
                    <li class="has-children {% active_link 'user_page' %}">
                      <a href="{% url 'user_page' %}">{{ user.username|title }}</a>
                      <ul class="dropdown">
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                        <li><a href="{% url 'edit_profile' %}">Edite profile</a></li>
                        {% if user.is_agent %}
                          <li><a href="{% url 'contact-with-client-page' %}">contact with clients</a></li>
                          <li><a href="{% url 'announcment_to_be_published' %}">announcment to be published</a></li>
                        {% else %}
                          <li><a href="{% url 'create_post' %}">Add anouncment</a></li>
                        {% endif %}
                      </ul>
                    </li>
                  {% else %}
                    <li class="{% active_link 'login' %}"><a href="{% url 'login' %}">Log in</a></li>
                    <li class="{% active_link 'signup' %}"><a href="{% url 'signup' %}">Sign Up</a></li>
                  {% endif %}

                </ul>

              </nav>
            </div>

          </div>
        </div>
    </div>

  </div>
<!--navbar end-->

  {% block content %}
  {% endblock %}

<!--foter started-->
    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-4">
            <div class="mb-5">
              <h3 class="footer-heading mb-4">About HomeSpace</h3>
              <p>Bu online uylar bozori nafaqat uylar balki boshqa ko'chmas(restaran, magazin,..) mulklarni ham. Biz sizga ijaraga mulk taklif etishimiz va mulkingizni sotish ga yordam beramiz.</p>
            </div>
          </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigations</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="\">Home</a></li>
                  <li><a href="{% url 'main:announcement' %}?type=buy">Buy</a></li>
                  <li><a href="{% url 'main:announcement' %}?type=rent">Rent</a></li>
                  <li><a href="{% url 'main:announcement' %}">Announcement</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="{% url 'main:about' %}">About Us</a></li>
                  <li><a href="{% url 'main:contact' %}">Contact Us</a></li>
                    {% if user.is_authenticated %}
                      <li><a href="{% url 'logout' %}">Log out</a></li>
                    {% else %}
                      <li><a href="{% url 'signup' %}">Sign Up</a></li>
                      <li><a href="{% url 'login' %}">Log in</a></li>
                    {%endif%}
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Follow Us</h3>

                <div>
                  <a href="https://t.me/Asliddindev" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="https://t.me/Asliddindev" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="https://t.me/Asliddindev" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="https://t.me/Asliddindev" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>

          </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;</script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <br>
            Copyright &copy;</script><script>document.write(new Date().getFullYear());</script> This template's backend part and some frontend part are made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://t.me/Asliddindev" target="_blank" >Asliddin Tuxtasinov</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>

      </div>
    </footer>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/mediaelement-and-player.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {%  block js %}{% endblock %}
  </body>
</html>