{% load static %}
{% load crispy_forms_tags %}
{%  block css %}
<style>
  .showForm{ 
    display: none;
    transition: linear 2s;
  } 
</style>
{% endblock %}
<div class="py-5">
  <div class="container">
    <button class="btn btn-primary btn-block form-control-same-height rounded-0 mb-5" id="seach_control">Filter qilmoqchimisiz?</button>
    <form class="mb-5 uniForm showForm" method="get" action="" id="postForm" data-cities-url="{% url 'ajax_load_cities' %}">
      {{filter_form.form|crispy}}
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <input type="submit" class="btn btn-primary btn-block form-control-same-height rounded-0" value="Search">
      </div>
    </form>

    {% if main_page %}
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
          <div class="feature d-flex align-items-start">
            <span class="icon mr-3 flaticon-house"></span>
            <div class="text">
              <h2 class="mt-0">Wide Range of Properties</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit rem sint debitis porro quae dolorum neque.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
          <div class="feature d-flex align-items-start">
            <span class="icon mr-3 flaticon-rent"></span>
            <div class="text">
              <h2 class="mt-0">Rent or Sale</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit rem sint debitis porro quae dolorum neque.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
          <div class="feature d-flex align-items-start">
            <span class="icon mr-3 flaticon-location"></span>
            <div class="text">
              <h2 class="mt-0">Property Location</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit rem sint debitis porro quae dolorum neque.</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{%  block js %}
<script>
const postForm=document.querySelector('#postForm');
const btn=document.querySelector('#seach_control');
btn.onclick =()=> { 
  postForm.classList.toggle("showForm"); 
};
</script>
{% endblock %}