{% load static %}
<div class="site-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7">
            <div class="site-section-title text-center">
              <h2>Our Agents</h2>
            </div>
          </div>
        </div>
        <div class="row block-13">

          <div class="nonloop-block-13 owl-carousel">
            {% for obj in agents %}
              <div class="slide-item">
                <div class="team-member text-center">
                  <img {% if  obj.profile_img %}src="{{obj.profile_img.url}}"{% else %}src="{% static 'images/person_1.jpg' %}"{% endif %} alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
                  <div class="text p-1">
                    <h2 class="mb-2 font-weight-light text-black h4">{{obj.agent.username}}</h2>
                    <span class="d-block mb-3 text-white-opacity-05">Agent</span>
                    <p class="mb-5">{{obj.agent_info|safe}}</p>
                    <p>
                      <a href="{{obj.facebook}}" class="text-black p-2"><span class="icon-facebook"></span></a>
                      <a href="{{obj.twitter}}" class="text-black p-2"><span class="icon-twitter"></span></a>
                      <a href="{{obj.linkedn}}" class="text-black p-2"><span class="icon-linkedin"></span></a>
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>
    </div>
</div>