{% load static %}
<div class="row mb-5">
  {% if posts %}
    {% for post in posts %}
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="{{ post.get_absolute_url }}" class="prop-entry d-block">
          <figure>
            <img src="{{post.picture.url}}" alt="{{post.title}}" class="img-fluid">
          </figure>
          <div class="prop-text">
            <div class="inner">
              <span class="price rounded">${{post.price}}</span>
              <h3 class="title">{{ post.title }}</h3>
              <h5 class="title">post owner: {{ post.owner }}</h5>
              <h6 style="color:white;">{{ post.region }} region, {{ post.district }} district</h6>
              <p class="location">Adress: {{post.adress}}</p>
            </div>
            <div class="prop-more-info">
              <div class="inner d-flex">
                <div class="col">
                  <span>Area:</span>
                  <strong>{{post.area}}m<sup>2</sup></strong>
                </div>
                <div class="col">
                  <span>Beds:</span>
                  <strong>{{post.beds}}</strong>
                </div>
                <div class="col">
                  <span>Baths:</span>
                  <strong>{{post.baths}}</strong>
                </div>
                <div class="col">
                  <span>Garages:</span>
                  <strong>{{post.garages}}</strong>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% else %}
    <h2 style="margin-left:2%; margin-top:-4.5%;">E'lonlar mavjud emas !</h2>
  {% endif %}
</div>