{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%  block css %}
<style>
.del-post{
  background-color: hsl(0, 0%, 95%);
  padding: 1% 0;
}
.hide{
  display: none;
  transition: all 0.5s linear;
}
</style>
{% endblock %}
{%  block title %}{{post.title|title}}{% endblock %}
{% block content %}
<div class="site-blocks-cover overlay" style="background-image: url({% static 'images/hero_bg_2.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    {% for msg in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    {% endfor %}
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10">
        <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">{{post.title}}</span>
        <h1 class="mb-2">{{post.adress}}, {{post.district}} vil, {{post.region}} tum</h1>
        <p class="mb-5"><strong class="h2 text-success font-weight-bold">${{post.price}}</strong></p>
        {% if user.is_authenticated %}
          {% if is_author_or_agent %}
            <a href="{{post.get_absolute_url_edit}}" class="btn btn-success">Edit</a>
            <button type="button" id="main_del_btn" class="btn btn-danger">Delete</button>

            <div class="del-post mt-1 hide">
              <div class="container">
                <form method="post" action="{{post.get_absolute_url_delete}}">
                    {% csrf_token %}
                    <h5>Siz rostdan ham bergan "{{post.title}}" e'loningizni o'chirmoqchimisiz?</h5>
                    <button type="submit" class="btn btn-danger">yes</button>
                    <button type="button" id="cancel_del_btn" class="btn btn-success">no</button>
                </form>
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="site-section site-section-sm">
  <div class="container">
    <div class="row">

      <div class="col-lg-8" style="margin-top: -150px;">

        <div class="mb-5">
          <div class="slide-one-item home-slider owl-carousel">
            <div><img src="{{post.picture.url}}" alt="Image" class="img-fluid"></div>
            <div><img src="{{post.picture2.url}}" alt="Image" class="img-fluid"></div>
            <div><img src="{{post.picture3.url}}" alt="Image" class="img-fluid"></div>
          </div>
        </div>
        <div class="bg-white">
          <div class="row mb-5">
            <div class="col-md-6">
              <strong class="text-success h1 mb-3">${{post.price}}</strong>
            </div>
            <div class="col-md-6">
              <ul class="property-specs-wrap mb-3 mb-lg-0  float-lg-right">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">{{post.beds}}</span>

              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">{{post.baths}}</span>

              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">${{post.price}}</span>

              </li>
            </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">Home Type</span>
              <strong class="d-block">{{post.home_type}}</strong>
            </div>
            <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">Home Type</span>
              <strong class="d-block">{{post.type}}</strong>
            </div>
            <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">Year Built</span>
              <strong class="d-block">{{post.year_build}}</strong>
            </div>
            <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">Price/Sqft</span>
              <strong class="d-block">${{post.price}}</strong>
            </div>
          </div>

          <!-- contact-->
          <div class="row">
            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">Agent's tel nomer</span>
              <strong class="d-block"><a href="tel:{{post.diller.telefon_number}}">{{post.diller.telefon_number}}</a></strong>
            </div>
            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">Agent's gmail</span>
              <strong class="d-block"><a href="mailto:{{post.diller.agent.email}}">email</a></strong>
            </div>
            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">Agent's telegram</span>
              <strong class="d-block"><a href="{{post.diller.telegram}}">telegram</a></strong>
            </div>
          </div>
          
          {% if is_author_or_agent %}
            <div class="row">
              <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
                <span class="d-inline-block text-black mb-0 caption-text">Owner's tel nomer</span>
                <strong class="d-block"><a href="tel:{{post.diller.telefon_number}}">{{post.tel_num}}</a></strong>
              </div>
              <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
                <span class="d-inline-block text-black mb-0 caption-text">Owner's gmail</span>
                <strong class="d-block"><a href="mailto:{{post.owner.email}}">{{post.owner.email}}</a></strong>
              </div>
              <!-- <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
                <span class="d-inline-block text-black mb-0 caption-text">Owner's telegram</span>
                <strong class="d-block"><a href="#">telegram</a></strong>
              </div> -->
            </div>
          {% endif %}

          <!-- adress -->
          <div class="row mb-5">
            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">Region:</span>
              <strong class="d-block">{{post.region}}</strong>
            </div>
            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">District:</span>
              <strong class="d-block">{{post.district}}</strong>
            </div>
            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">adress:</span>
              <strong class="d-block">{{post.adress}}</strong>
            </div>
          </div>


          <h2 class="h4 text-black">More Info</h2>
          <p>{{post.more_info|safe}}</p>

          <div class="row mt-5">
            <div class="col-12">
              <h2 class="h4 text-black mb-3">Property Gallery</h2>
            </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <a href="{{post.picture.url}}" class="image-popup gal-item"><img src="{{post.picture.url}}" alt="Image" class="img-fluid"></a>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <a href="{{post.picture2.url}}" class="image-popup gal-item"><img src="{{post.picture2.url}}" alt="Image" class="img-fluid"></a>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <a href="{{post.picture3.url}}" class="image-popup gal-item"><img src="{{post.picture3.url}}" alt="Image" class="img-fluid"></a>
              </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 pl-md-5">

        <div class="bg-white widget border rounded">
          <h3 class="h4 text-black widget-title mb-3">Contact Agent</h3>

          <form action="{{post.get_contact_with_agent_url}}" method="post" class="form-contact-agent">
            {% csrf_token %}
            {% for contact_form in contact_with_agent_form %}
              <div class="form-group">
                <label>{{contact_form.label}}</label>
                {{contact_form}}
                {{contact_form.errors}}
              </div>
            {% endfor %}
            <div class="form-group">
              <input type="submit" id="phone" class="btn btn-primary" value="Send Message">
            </div>
          </form>

        </div>

        <div class="bg-white widget border rounded">
          <h3 class="h4 text-black widget-title mb-3">Agent bilan bog'lanish</h3>
          <p>Agar siz bu e'lon ga qiziqish bildirayotgan bolsangiz adminlarimiz siz bilan bog'lanishi uchun quydagi formani to'ldirib bizga jonating va agentlarimizdan biri siz bilan bog'lanadi!</p>
        </div>

      </div>


    </div>
  </div>
</div>

<!--comments-->
<div class="container mb-5">
  {% if comments %}
    <div class="ml-1">
        <h5>Qoldirilgan sharhlar:</h5>
    </div>
    {% for cmt in comments %}
        <div class="text-left border-bottom border-top py-2 px-2 mb-1 card">
          <span class="d-inline-block text-black mb-0 ml-1"><strong>{{ cmt.author }}</strong> {{ cmt.created_on }}</span>
          <p class="ml-4" text-aligin="justifay">{{ cmt.comment }}</p>
          {% if user.is_authenticated %}
            <details>
              <summary><span class="btn btn-light">reply</span></summary>
              <div class="ml-5">
                <h5>Replay</h5>
                <form action="{{post.get_absolute_url_comment}}" method="post" >
                    {% csrf_token %}
                    {{ post_commentform|crispy }}
                    <!-- Hidden input for parent comment.id -->
                    <input type="hidden" name="parent_id" value="{{ cmt.id }}">
                    <input class="btn btn-primary" type="submit" value="add replay">
                </form>
              </div>
            </details>
          {% endif %}
          {% for reply in cmt.replies.all %}
            <div class="text-left mt-0 ml-5">
              <span class="d-inline-block text-black mb-0 ml-1"><strong>{{ reply.author }}</strong> {{ reply.created_on }}</span>
              <p class="ml-4" text-aligin="justifay">{{ reply.comment }}</p>
            </div>
          {% endfor %}
        </div>
    {% endfor %}
  {% else %}
    <div class="text-left border-bottom border-top py-3">
      <span class="d-inline-block text-black mb-0 ml-1"><strong>Hozircha hech qandey sharh mavjud emas!</strong>
    </div>
  {% endif %}
</div>

<!--post comment section-->
{% if user.is_authenticated %}
  <div class="container mt-3">
    <div class="ml-1">
        <h5>Sharh qoldirish!</h5>
    </div>
  </div>
  <div class="container">
    <form method="POST" action="{{post.get_absolute_url_comment}}">
        {% csrf_token %}
        {{ post_commentform|crispy }}
        <div class="d-grid gap-2">
            <button class="btn btn-primary">sharh qoldirish</button>
        </div>
    </form>
  </div>
{% endif %}

<div class="site-section site-section-sm bg-light">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="site-section-title mb-5">
          <h2>O'xshash e'lonlar</h2>
        </div>
      </div>
    </div>

    {% include 'posts.html' %}

  </div>
</div>

{% endblock %}
{%  block js %}
<script>
const main_del_btn=document.querySelector("#main_del_btn")
const cancel_del_btn=document.querySelector("#cancel_del_btn")
const del_post=document.querySelector(".del-post")

main_del_btn.onclick =()=>{
  main_del_btn.classList.add("hide")
  del_post.classList.remove("hide")
};
cancel_del_btn.onclick =()=>{
  main_del_btn.classList.remove("hide")
  del_post.classList.add("hide")
};
</script>
{% endblock %}