{% extends 'base.html' %}
{% load static %}
{%  block title %}HomeSpace - Properties page{% endblock %}
{% block content %}

{% include 'main-posts.html' %}
{% include 'main-search.html' %}

<div class="site-section site-section-sm bg-light">
      <div class="container">

        <div class="row mb-5">
          <div class="col-12">
            <div class="site-section-title">
              <h2>New Properties for You</h2>
            </div>
          </div>
        </div>
        {% include 'posts.html' %}

        {% include 'pagination.html' %}

      </div>
    </div>

{% endblock %}