{% extends 'base.html' %}
{% load static %}
{%  block title %}HomeSpace - Properties page{% endblock %}
{% block content %}

{% include 'main-posts.html' %}
{% include 'main-search.html' %}

<div class="site-section site-section-sm bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <div class="site-section-title">
              <h2>New Properties for You</h2>
            </div>
          </div>
        </div>
        {% include 'posts.html' %}
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="site-pagination">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <span>...</span>
              <a href="#">10</a>
            </div>
          </div>
        </div>

      </div>
    </div>

{% endblock %}