{% load static %}
<div class="site-section">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-7">
        <div class="site-section-title text-center">
          <h2>Testimonies</h2>
        </div>
      </div>
    </div>
    <div class="row block-13">

      <div class="nonloop-block-13 owl-carousel">
        {% for tester in testers %}
          <div class="slide-item">
              <div class="team-member text-center">
                <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid mb-4 w-50 rounded-circle mx-auto">
                <div class="text p-3">
                  <h2 class="mb-2 font-weight-light text-black h4">Megan Smith</h2>
                  <span class="d-block mb-3 text-white-opacity-05">Guest</span>
                  <p class="mb-5">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolorem totam non quis facere blanditiis praesentium est. &rdquo;</p>

                </div>
              </div>
            </div>
        {% endfor %}
      </div>

    </div>

  </div>
</div>