.page-section{
    margin: 6% auto;
}

.page-section .card{
    padding: 4%;
    list-style: none;
}
.page-section .card .card-part{
    border: 0.5px solid rgba(0, 0, 0, 0.542);
    margin: 0.5% 0;
}
.page-section .card .card-part .btn-danger{
    width: 8rem;
    margin: 1%;
}
.contact-client{
    list-style: disc;
}